.theme-purple .menu>ul>li>ul.normal-sub>li a:hover,
.theme-purple .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #860fef
}

.theme-purple.sidebar-collapse .navbar-collapse:before {
    background-color: #1E88E5
}

.theme-purple .btn-primary {
    background: #1E88E5
}

.theme-purple .btn-primary:active,
.theme-purple .btn-primary:hover,
.theme-purple .btn-primary:focus {
    background: #011824
}

.theme-purple .btn-primary.btn-simple {
    border-color: #1E88E5;
    color: #1E88E5;
    background: transparent
}

.theme-purple .block-header h2 {
    color: #fff
}

.theme-purple .block-header h2 small {
    color: #fff
}

.theme-purple section.content:before {
    background-color: #011824
}

.theme-purple .navbar,
.theme-purple .page-loader-wrapper {
    background: #011824
}

.theme-purple .bars {
    color: #fff
}

.theme-purple .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-purple .sidebar .menu .list li.active>:first-child i,
.theme-purple .sidebar .menu .list li.active>:first-child span {
    color: #1E88E5
}

.theme-purple .sidebar .menu .list a:hover {
    color: #1E88E5
}

.theme-purple .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #1E88E5
}

.theme-purple .nav-tabs .nav-link.active,
.theme-purple .nav-tabs .nav-link:hover {
    border: 1px solid #011824 !important;
    background: #011824;
    color: #fff
}

.theme-purple .card .header h2:before {
    background: #1E88E5
}

.theme-purple .card .header h2 strong {
    color: #1E88E5
}

.theme-blue .menu>ul>li>ul.normal-sub>li a:hover,
.theme-blue .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #1E88E5
}

.theme-blue.sidebar-collapse .navbar-collapse:before {
    background-color: #1E88E5
}

.theme-blue .btn-primary {
    background: #1E88E5
}

.theme-blue .btn-primary:active,
.theme-blue .btn-primary:hover,
.theme-blue .btn-primary:focus {
    background: #1E88E5
}

.theme-blue .btn-primary.btn-simple {
    border-color: #1E88E5;
    color: #1E88E5;
    background: transparent
}

.theme-blue .block-header h2 {
    color: #fff
}

.theme-blue .block-header h2 small {
    color: #fff
}

.theme-blue section.content:before {
    background-color: #1E88E5
}

.theme-blue .navbar,
.theme-blue .page-loader-wrapper {
    background: #1E88E5
}

.theme-blue .bars {
    color: #fff
}

.theme-blue .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-blue .sidebar .menu .list li.active>:first-child i,
.theme-blue .sidebar .menu .list li.active>:first-child span {
    color: #1E88E5
}

.theme-blue .sidebar .menu .list a:hover {
    color: #1E88E5
}

.theme-blue .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #1E88E5
}

.theme-blue .nav-tabs .nav-link.active {
    border: 1px solid #1E88E5 !important
}

.theme-blue .card .header h2:before {
    background: #1E88E5
}

.theme-blue .card .header h2 strong {
    color: #1E88E5
}

.theme-cyan .menu>ul>li>ul.normal-sub>li a:hover,
.theme-cyan .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #6bcccd
}

.theme-cyan.sidebar-collapse .navbar-collapse:before {
    background-color: #00BCD4
}

.theme-cyan .btn-primary {
    background: #00BCD4
}

.theme-cyan .btn-primary:active,
.theme-cyan .btn-primary:hover,
.theme-cyan .btn-primary:focus {
    background: #6bcccd
}

.theme-cyan .btn-primary.btn-simple {
    border-color: #00BCD4;
    color: #00BCD4;
    background: transparent
}

.theme-cyan .block-header h2 {
    color: #fff
}

.theme-cyan .block-header h2 small {
    color: #fff
}

.theme-cyan section.content:before {
    background-color: #6bcccd
}

.theme-cyan .navbar,
.theme-cyan .page-loader-wrapper {
    background: #6bcccd
}

.theme-cyan .bars {
    color: #fff
}

.theme-cyan .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-cyan .sidebar .menu .list li.active>:first-child i,
.theme-cyan .sidebar .menu .list li.active>:first-child span {
    color: #00BCD4
}

.theme-cyan .sidebar .menu .list a:hover {
    color: #00BCD4
}

.theme-cyan .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #00BCD4
}

.theme-cyan .nav-tabs .nav-link.active {
    border: 1px solid #00BCD4 !important
}

.theme-cyan .card .header h2:before {
    background: #00BCD4
}

.theme-cyan .card .header h2 strong {
    color: #00BCD4
}

.theme-green .menu>ul>li>ul.normal-sub>li a:hover,
.theme-green .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #56b68b
}

.theme-green.sidebar-collapse .navbar-collapse:before {
    background-color: #2EBD85
}

.theme-green .btn-primary {
    background: #2EBD85
}

.theme-green .btn-primary:active,
.theme-green .btn-primary:hover,
.theme-green .btn-primary:focus {
    background: #56b68b
}

.theme-green .btn-primary.btn-simple {
    border-color: #2EBD85;
    color: #2EBD85;
    background: transparent
}

.theme-green .block-header h2 {
    color: #fff
}

.theme-green .block-header h2 small {
    color: #fff
}

.theme-green section.content:before {
    background-color: #56b68b
}

.theme-green .navbar,
.theme-green .page-loader-wrapper {
    background: #56b68b
}

.theme-green .bars {
    color: #fff
}

.theme-green .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-green .sidebar .menu .list li.active>:first-child i,
.theme-green .sidebar .menu .list li.active>:first-child span {
    color: #2EBD85
}

.theme-green .sidebar .menu .list a:hover {
    color: #2EBD85
}

.theme-green .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #2EBD85
}

.theme-green .nav-tabs .nav-link.active {
    border: 1px solid #2EBD85 !important
}

.theme-green .card .header h2:before {
    background: #2EBD85
}

.theme-green .card .header h2 strong {
    color: #2EBD85
}

.theme-orange .menu>ul>li>ul.normal-sub>li a:hover,
.theme-orange .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #f0a058
}

.theme-orange.sidebar-collapse .navbar-collapse:before {
    background-color: #F4A62A
}

.theme-orange .btn-primary {
    background: #F4A62A
}

.theme-orange .btn-primary:active,
.theme-orange .btn-primary:hover,
.theme-orange .btn-primary:focus {
    background: #f0a058
}

.theme-orange .btn-primary.btn-simple {
    border-color: #F4A62A;
    color: #F4A62A;
    background: transparent
}

.theme-orange .block-header h2 {
    color: #fff
}

.theme-orange .block-header h2 small {
    color: #fff
}

.theme-orange section.content:before {
    background-color: #f0a058
}

.theme-orange .navbar,
.theme-orange .page-loader-wrapper {
    background: #f0a058
}

.theme-orange .bars {
    color: #fff
}

.theme-orange .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-orange .sidebar .menu .list li.active>:first-child i,
.theme-orange .sidebar .menu .list li.active>:first-child span {
    color: #F4A62A
}

.theme-orange .sidebar .menu .list a:hover {
    color: #F4A62A
}

.theme-orange .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #F4A62A
}

.theme-orange .nav-tabs .nav-link.active {
    border: 1px solid #F4A62A !important
}

.theme-orange .card .header h2:before {
    background: #F4A62A
}

.theme-orange .card .header h2 strong {
    color: #F4A62A
}

.theme-blush .menu>ul>li>ul.normal-sub>li a:hover,
.theme-blush .menu>ul>li>ul>li>ul>li a:hover {
    background-color: #e96889
}

.theme-blush.sidebar-collapse .navbar-collapse:before {
    background-color: #1E88E5
}

.theme-blush .btn-primary {
    background: #1E88E5
}

.theme-blush .btn-primary:active,
.theme-blush .btn-primary:hover,
.theme-blush .btn-primary:focus {
    background: #e96889
}

.theme-blush .btn-primary.btn-simple {
    border-color: #1E88E5;
    color: #1E88E5;
    background: transparent
}

.theme-blush .block-header h2 {
    color: #fff
}

.theme-blush .block-header h2 small {
    color: #fff
}

.theme-blush section.content:before {
    background-color: #1E88E5
}

.theme-blush .navbar,
.theme-blush .page-loader-wrapper {
    background: #1E88E5
}

.theme-blush .bars {
    color: #fff
}

.theme-blush .sidebar .menu .list li.active {
    background-color: transparent
}

.theme-blush .sidebar .menu .list li.active>:first-child i,
.theme-blush .sidebar .menu .list li.active>:first-child span {
    color: #1E88E5
}

.theme-blush .sidebar .menu .list a:hover {
    color: #1E88E5
}

.theme-blush .checkbox input[type="checkbox"]:checked+label::after {
    border: 1px solid #1E88E5
}

.theme-blush .nav-tabs .nav-link.active {
    border: 1px solid #1E88E5 !important
}

.theme-blush .card .header h2:before {
    background: #1E88E5
}

.theme-blush .card .header h2 strong {
    color: #1E88E5
}