{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/add_blog.css' %}">
{% endblock %}

{% block content %}

<div class="block-header">
    <div class="row">

        <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>
                Blog Management
                <small>Manage your blog articles</small>
            </h2>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">

            <a href="{% url 'add-blog' %}"
               class="btn btn-white float-right ml-3">
                <i class="zmdi zmdi-plus"></i>
                Add Blog
            </a>

            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="zmdi zmdi-home"></i>
                        Xen Properties
                    </a>
                </li>

                <li class="breadcrumb-item active">
                    Blog
                </li>
            </ul>

        </div>

    </div>
</div>


<div class="container-fluid">

    <div class="row clearfix">

        <div class="col-lg-12">

            <div class="card">

                <div class="body">

                    <div class="table-responsive">

                        <table class="table td_2 table-striped table-hover js-basic-example dataTable">     
                            <thead>

                                <tr>

                                    <th>#</th>

                                    <th>Image</th>

                                    <th>Title</th>

                                    <th>Category</th>

                                    <th>Status</th>

                                    <th>Created</th>

                                    <th width="180">Actions</th>

                                </tr>

                            </thead>

                            <tbody>

                                {% for blog in blogs %}

                                <tr>

                                    <td>{{ forloop.counter }}</td>

                                    <td>

                                      {% if blog.featured_image %}
    <img
        src="{{ blog.featured_image.url }}"
class="blog-thumbnail"    >
{% else %}
    <img
        src="{% static 'images/no-image.png' %}"
        style="width:80px;height:60px;object-fit:cover;border-radius:8px;"
    >
{% endif %}

                                    </td>

                                    <td>

    <strong>{{ blog.title }}</strong>

    <br>

    <small class="text-muted">
        {{ blog.slug }}
    </small>

</td>

    
                                   <td>
    <span class="blog-category">
        {{ blog.category }}
    </span>
</td>
                                    

<td>
    {% if blog.status == "published" %}
        <span class="blog-status-published">
            Published
        </span>
    {% else %}
        <span class="blog-status-draft">
            Draft
        </span>
    {% endif %}
</td>

                                    <td>

                                        {{ blog.created_at|date:"d M Y" }}

                                    </td>

                                   <td>

    <a href="{% url 'edit-blog' blog.id %}"
       class="btn btn-sm mr-2">
        Edit
    </a>

    <a href="{% url 'delete-blog' blog.id %}"
       class="btn btn-sm blog-DltBtn">
        Delete
    </a>

</td>

                                </tr>

                                {% empty %}

                                <tr>

                                    <td colspan="7" class="text-center text-muted py-5">

                                        No blogs available.

                                    </td>

                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}