{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}



<!-- PAGE HEADER -->

<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>
                Visit Requests
                <small>Manage all scheduled property visits</small>
            </h2>
        </div>


    <div class="col-lg-7 col-md-7 col-sm-12 text-md-right">
        <ul class="breadcrumb float-md-right">
    <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
            <i class="zmdi zmdi-home"></i> Xen Properties
        </a>
    </li>

    <li class="breadcrumb-item active">
        Visit Requests
    </li>
</ul>
    </div>
</div>
</div>

<div class="container-fluid">

<div class="row clearfix">

    <div class="col-lg-12">

        <div class="card">


            <div class="body">

                <div class="table-responsive">

                    <table class="table table-hover table-bordered">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Property</th>
                                <th>Visitor</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Visit Date</th>
                                <th>Status</th>
                                <th width="180">Action</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for visit in visits %}

                            <tr>

                                <td>{{ forloop.counter }}</td>

                                <td>
                                    {{ visit.property.title }}
                                </td>

                                <td>
                                    {{ visit.name }}
                                </td>

                                <td>
                                    {{ visit.email }}
                                </td>

                                <td>
                                    {{ visit.phone }}
                                </td>

                                <td>
                                    {{ visit.visit_date|date:"d M Y" }}
                                </td>

                                <td>

                                    {% if visit.status == "pending" %}

                                    <span class="badge badge-warning">
                                    <i class="zmdi zmdi-check-circle"></i>
                                    Pending
                                    </span>

                                    {% elif visit.status == "accepted" %}

                                    <span class="badge badge-success">
                                            <i class="zmdi zmdi-check-circle"></i>

                                        Accepted
                                    </span>

                                    {% elif visit.status == "rejected" %}

                                    <span class="badge badge-danger">
                                            <i class="zmdi zmdi-check-circle"></i>

                                        Rejected
                                    </span>

                                    {% endif %}

                                </td>

                                <td>

                                    {% if visit.status == "pending" %}

<a href="{% url 'accept-visit' visit.id %}"
   class="btn btn-accept mr-2">
    <i class="zmdi zmdi-check"></i>
    Accept
</a>

<a href="{% url 'reject-visit' visit.id %}"
   class="btn btn-reject">
    <i class="zmdi zmdi-close"></i>
    Reject
</a>

                                    {% else %}

                                    <span class="text-muted">
                                       Completed
                                    </span>

                                    {% endif %}

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                                <td colspan="8" class="text-center">

                                    No Visit Requests Found

                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>


</div>

{% endblock content %}
