.agentGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.agentCard {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,.08);

  transition: .4s ease;
}

.agentCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,.12);
}

.agentImg {
  width: 100%;
  height: 350px;
  
  object-fit: cover;
}

.agentCard h3 {
  font-size: 24px;
  color: #011824;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.title {
  color: #777;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.info {
  padding: 0 25px;
}

.info p {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #555;
  margin-bottom: 12px;
  font-size: 14px;
}

.info i {
  color: #011824;
}

.contactBtn {
  width: calc(100% - 50px);

  margin: 20px 25px 25px;

  border: none;

  background: #011824;

  color: #fff;

  height: 50px;

  border-radius: 10px;

  font-weight: 600;

  transition: .3s;
}

.contactBtn:hover {
  background: #02324a;
}

.subTitle {
  display: block;

  letter-spacing: 3px;

  color: #011824;

  font-size: 13px;

  font-weight: 600;

  margin-bottom: 10px;
}

.mainTitle {
  font-family: "Cormorant Garamond", serif;

  font-size: 56px;

  color: #011824;

  font-weight: 500;

  margin-bottom: 15px;
}

.desc {
  max-width: 700px;

  margin: auto;

  color: #666;

  font-size: 18px;
}

@media(max-width:1200px){
  .agentGrid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:768px){
  .agentGrid{
    grid-template-columns: 1fr;
  }

  .mainTitle{
    font-size: 40px;
  }
}