

.rSection{
  min-height: 70vh;

  background:
    linear-gradient(
      rgba(0,0,0,.55),
      rgba(0,0,0,.55)
    ),
    url("../assets/Imges/rent\ banner.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;

  position:relative;
}

.ContactSctn{

   min-height: 70vh;
  background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),
url("../assets/Imges/contact\ us.jpg");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;

  position:relative;
}

.rSection * {
  position: relative;
  z-index: 1;
}


.htitle{
  font-family: "Cormorant Garamond", serif;

  font-size: 62px;
  font-weight: 300;

  color:#fff;

  line-height:1.30;
  margin-top: 25px;
  margin-bottom:1px;
}

.heroContent{
  max-width: 900px;
  padding: 0 20px;
}

.subText{
  color: rgba(255,255,255,.85);

  font-size:18px;

  line-height:1.9;

  max-width:700px;

  margin:0 auto;
}



@media(max-width:768px){

  .htitle{
    font-size:48px;
  }

  .subText{
    font-size:16px;
  }

}
