.footerWrapper {
  background: #011824;
  color: #fff;
  padding: 60px 0 25px;
}

/* TOP */
.topSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding-bottom: 30px;
}
/* LOGO */
.logo {
  width: 95px;
  margin-bottom: 15px;
}

.about {
  color: rgba(255,255,255,.75);
  line-height: 1.8;
  font-size: 14px;
  max-width: 280px;
}

/* HEADING */

.heading {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
  position: relative;
}

.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 35px;
  height: 2px;
  background: #fff;
}

/* LIST */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin-bottom: 10px;
}

.contactList li {
  margin-bottom: 12px;
}

.list li:hover {
  color: white;
  transform: translateX(5px);
}

.list a {
  text-decoration: none;
  color: inherit;
}

/* CONTACT */

.contactList {
  list-style: none;
  padding: 0;
}


.contactList i {
  color: #fff;
  font-size: 16px;
}

/* SOCIAL */

.socialWrapper a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,.08);
  border: 1px solid rgba(255,255,255,.08);
  transition: .3s;
}

.socialWrapper a:hover {
  background: #fff;
  color: #011824;
  transform: translateY(-3px);
}



/* NEWSLETTER */

.newsText {
  color: #c7d1d8;
  margin-bottom: 18px;
  line-height: 1.7;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newsletter input {
  height: 46px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.12);
  background: rgba(255,255,255,.06);
  color: white;
}

.newsletter input::placeholder {
  color: #c7d1d8;
}

.newsletter button {
  height: 46px;
  background: #fff;
  color: #011824;
  font-weight: 600;
  border-radius: 10px;
}

.newsletter button:hover {
  background: #f3f4f6;
}

.newsletter button:hover {
  background: #39978f;
}

/* BOTTOM */

.bottomSection {
  border-top: 1px solid rgba(255,255,255,.08);
  padding: 18px 0 0;
  margin-top: 15px;
}

.bottomSection p {
  margin: 0;
  color: #c7d1d8;
}

.bottomLinks {
  display: flex;
  gap: 20px;
}

.bottomLinks a {
  color: #c7d1d8;
  text-decoration: none;
  transition: 0.3s;
}

.bottomLinks a:hover {
  color: white;
}

/* MOBILE */

@media (max-width: 768px) {

  .footerWrapper {
    padding-top: 60px;
  }

  .bottomSection {
    flex-direction: column;
    text-align: center;
  }

}