.rSection{
  min-height: 70vh;

  background:
    linear-gradient(
      rgba(0,0,0,.55),
      rgba(0,0,0,.55)
    ),
    url("../assets/Imges/rent\ banner\ indian.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;

  position:relative;
}

.heroContent{
  text-align:center;
}



/* Make all content appear above overlay */
.rSection * {
  position: relative;
  z-index: 1;
}


/* -----------------------------------------
   GLASS SEARCH BOX
----------------------------------------- */
.sBox{
  max-width:1050px;

  margin:auto;

  background:transparent;

  padding:0;
}


/* -----------------------------------------
   GLASS INPUTS & SELECTS
----------------------------------------- */
.slect{
  height:58px !important;

  background:#fff !important;

  border:none !important;

  border-radius:8px !important;

  color:#444 !important;

  font-size:16px;

  box-shadow:
    0 5px 15px rgba(0,0,0,.08);
}

.slect option {
  color: #000;
}


/* -----------------------------------------
   GLASS BUTTON
----------------------------------------- */
.archBtn{
  height:58px;

  background:#011824 !important;

  color:#fff !important;

  border:none !important;

  border-radius:8px !important;

  font-weight:600;

  box-shadow:
    0 5px 15px rgba(0,0,0,.15);
}

.archBtn:hover{
  background: #032436 !important;
}




/* -----------------------------------------
   RESPONSIVE
----------------------------------------- */
@media (max-width: 767px) {
  .thead {
    text-align: center;
    font-size: 28px;
  }
  .sBox {
    margin-top: 25px;
  }
    .rightImage {
    max-width: 300px;
  }
}

.htitle{
  font-family: "Cormorant Garamond", serif;

  font-size: 52px;
  font-weight: 300;

  color:#fff;

  line-height:1.05;

  max-width:900px;

  margin:0 auto 50px;
}


/* Floating animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

@media(max-width:768px){

  .htitle{
    font-size:48px;
  }

  .sBox{
    width:100%;
  }

}

