.statusWrapper {
  background: #011824;
  padding: 90px 0;
  margin-top: 80px;
}

.statussection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.statCard {
  text-align: center;

  padding: 40px 20px;

  background: rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 20px;

  transition: 0.4s ease;
}

.statCard:hover {
  transform: translateY(-8px);

  background: rgba(255,255,255,0.08);
}

.statCard i {
  font-size: 45px;

  color: #ffffff;

  margin-bottom: 20px;

  display: block;
}

.statCard h2 {
  font-family: "Cormorant Garamond", serif;

  font-size: 56px;

  font-weight: 600;

  color: #ffffff;

  margin-bottom: 10px;
}
.statCard h2{
  color: #d4af37;
}

.statCard p {
  color: rgba(255,255,255,0.75);

  font-size: 16px;

  letter-spacing: 1px;

  text-transform: uppercase;

  margin: 0;
}

@media (max-width: 992px) {
  .statussection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .statussection {
    grid-template-columns: 1fr;
  }

  .statCard h2 {
    font-size: 42px;
  }
}