{% load static %}

<aside id="leftsidebar" class="sidebar">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active ml-4" data-toggle="tab" href="#dashboard"><i class="zmdi zmdi-home m-r-5"></i>Xen Properties</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane stretchRight active" id="dashboard">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info">
                            <div class="image"><a href="{% url 'admin/admin-profile' %}">
                                {% if request.user.userprofile.profile_image %}
                                    <img
                                        src="{{ request.user.userprofile.profile_image.url }}"
                                    >
                                {% else %}
                                    <img
                                        src="{% static 'assets/images/default-user.png' %}"
                                    >
                                {% endif %}
                                </a></div>
                            <div class="detail">
                                <h4>{{ request.user.username}}</h4>
                                
                            </div>
                            <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>                            
                        </div>
                    </li>
                    <li class="header">MAIN</li>
                    <li><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>    
                    
                 {% for module in modules %}
<li>
    <a href="javascript:void(0);" class="menu-toggle">
        <i class="zmdi {% if module.icon %}{{ module.icon }}{% else %}zmdi-apps{% endif %}"></i>
        <span>{{ module.name }}</span>
    </a>

    <ul class="ml-menu">
        {% for child in module.filtered_children %}
            <li>
                {% if child.url_name %}
<a href="{% url 'child-view' child.id %}">               
             {{ child.name }}
                    </a>
                {% else %}
                    <a href="{% url 'child-view' child.id %}">
                        {{ child.name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
            
                    <li>
                        <form action="{% url 'logout' %}" method="POST" id="logoutForm" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();" class="text-danger">
                            <i class="zmdi zmdi-power text-danger"></i>
                            <span>Logout</span>
                        </a>
                    </li>
   
                </ul>
            </div>

   
                </ul>
            </div>
        </div>
        <div class="tab-pane stretchLeft" id="user">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20 p-b-15">
                            <div class="image"><a href="profile.html"><img src="{% static 'images/profile_av.jpg' %}" alt="User"></a></div>
                            <div class="detail">
                                <h4>Michael</h4>
                                <small>Agent</small>
                            </div>
                            <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>
                            <p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                            <div class="row">
                                <div class="col-4">
                                    <h6 class="mb-1">852</h6>
                                    <small>Deals</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">13k</h6>
                                    <small>Sales</small>
                                </div>
                                <div class="col-4">
                                    <h6 class="mb-1">234</h6>
                                    <small>Clients</small>
                                </div>                            
                            </div>
                        </div>
                    </li>
                    <li>
                        <small class="text-muted">Email address: </small>
                        <p>michael@gmail.com</p>
                        <hr>
                        <small class="text-muted">Phone: </small>
                        <p>+ 202-555-0191</p>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</aside>
